<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a cafe</title>
</head>
<body>
    <form novalidate>
        <label>Name of Cafe</label>
        <input name="name">
        <label>Google Map URL Link</label>
        <input name="map_url">
        <label>Image URL</label>
        <input name="img_url">
        <label>Location</label>
        <input name="location">
        <label>Range of Seats</label>
        <input name="seats">
        <label>Does it have a toilet? (1 for yes, 0 for no)</label>
        <input name="has_toilet">
        <label>Does it have a wifi? (1 for yes, 0 for no)</label>
        <input name="has_wifi">
        <label>Does it have a sockets? (1 for yes, 0 for no)</label>
        <input name="has_sockets">
        <label>Does this place take calle? (1 for yes, 0 for no)</label>
        <input name="can_take_calls">
        <label>What's the price of coffee?</label>
        <input name="coffee_price">
    </form>
</body>
</html>